<h1 mat-dialog-title>Generar nuevo estudiante</h1>

<div mat-dialog-content class="container text-center">
  <form [formGroup]="studentForm">
    <div class="row">
      <mat-form-field class="m-2">
        <mat-label>Nombre</mat-label>
        <input formControlName="name" matInput type="text" />
        <mat-error style="font-size: smaller">
          {{ studentForm.get("name")?.errors | validationErrors }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Perfil</mat-label>
        <mat-select formControlName="profile">
          <mat-option value="Desarrollador">Desarrollador</mat-option>
          <mat-option value="IT">IT</mat-option>
          <mat-option value="Usuario Final">Usuario Final</mat-option>
        </mat-select>
        <mat-error style="font-size: smaller">
          {{ studentForm.get("profile")?.errors | validationErrors }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Genero</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="Masculino">Masculino</mat-option>
          <mat-option value="Femenino">Femenino</mat-option>
          <mat-option value="Otro">Otro</mat-option>
        </mat-select>
        <mat-error style="font-size: smaller">
          {{ studentForm.get("gender")?.errors | validationErrors }}
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <button
        type="reset"
        mat-flat-button
        color="accent"
        class="m-2"
        mat-dialog-close
      >
        Cancelar
      </button>
      <button
        type="submit"
        mat-flat-button
        color="primary"
        class="m-2"
        (click)="onSubmit()"
      >
        Guardar
      </button>
    </div>
  </form>
</div>
