<mat-card class="example-card">
  <mat-card-content>
    <mat-card-title
      class="text-center"
      style="font-weight: bold; text-decoration: underline"
      >Datos de usuario
    </mat-card-title>
    <hr />
    <div *ngIf="user$">
      <ul style="list-style: none">
        <li>
          <p class="dataCardUser">ID:</p>
          <p style="display: inline">{{ user.id }}</p>
        </li>
        <li>
          <p class="dataCardUser">DNI:</p>
          <p style="display: inline">{{ user.dni }}</p>
        </li>
        <li>
          <p class="dataCardUser">email:</p>
          <p style="display: inline">{{ user.email }}</p>
        </li>
        <li>
          <p class="dataCardUser">Nombre:</p>
          <p style="display: inline">{{ user.firstName }}</p>
        </li>
        <li>
          <p class="dataCardUser">Apellido:</p>
          <p style="display: inline">{{ user.lastName }}</p>
        </li>
        <li>
          <p class="dataCardUser">Direccion:</p>
          <p style="display: inline">
            {{ user.address }}
          </p>
        </li>
        <li>
          <p class="dataCardUser">Telefono:</p>
          <p style="display: inline">
            {{ user.phone }}
          </p>
        </li>
        <li>
          <p class="dataCardUser">Contraseña:</p>
          <p style="display: inline">
            {{ user.password }}
          </p>
        </li>
        <li>
          <p class="dataCardUser">Perfil:</p>
          <p style="display: inline">
            {{ user.profile }}
          </p>
        </li>
      </ul>
    </div>
    <div>
      <button
        type="reset"
        mat-flat-button
        color="accent"
        class="m-2"
        mat-dialog-close
      >
        Cerrar
      </button>
      <button
        type="submit"
        mat-flat-button
        color="accent"
        class="m-2"
        (click)="onDelete(user.id)"
      >
        Eliminar
      </button>
      <button
        type="submit"
        mat-flat-button
        color="primary"
        class="m-2"
        (click)="onUpdate(user)"
      >
        Modificar
      </button>
    </div>
  </mat-card-content>
</mat-card>
