<mat-card class="example-card">
  <mat-card-content>
    <mat-card-title
      class="text-center"
      style="font-weight: bold; text-decoration: underline"
      >Datos de inscripcion
    </mat-card-title>
    <hr />
    <div *ngIf="inscription$">
      <ul style="list-style: none">
        <li>
          <p class="dataCardUser">ID:</p>
          <p style="display: inline">{{ inscription.id }}</p>
        </li>
        <li>
          <p class="dataCardUser">Usuario creador:</p>
          <p style="display: inline">{{ inscription.createdUserId }}</p>
        </li>
        <li>
          <p class="dataCardUser">Fecha de creacion:</p>
          <p style="display: inline">
            {{ inscription.createdDate | date : "EEEE dd/MM/yyyy" }}
          </p>
        </li>
        <li>
          <p class="dataCardUser">Usuario modifico:</p>
          <p style="display: inline">{{ inscription.modifiedUserId }}</p>
        </li>
        <li>
          <p class="dataCardUser">Fecha de modificacion:</p>
          <p style="display: inline">
            {{ inscription.modifiedDate | date : "EEEE dd/MM/yyyy" }}
          </p>
        </li>
        <hr />
        <li style="font-weight: bold" class="text-center">Estudiante</li>
        <li>
          <p class="dataCardUser">nombre:</p>
          <p style="display: inline">{{ inscription.student?.name }}</p>
        </li>
        <li>
          <p class="dataCardUser">Perfil:</p>
          <p style="display: inline">
            {{ inscription.student?.profile }}
          </p>
        </li>
        <li>
          <p class="dataCardUser">Genero:</p>
          <p style="display: inline">{{ inscription.student?.gender }}</p>
        </li>
        <hr />
        <li style="font-weight: bold" class="text-center">Curso</li>
        <li>
          <p class="dataCardUser">Codigo:</p>
          <p style="display: inline">{{ inscription.course?.code }}</p>
        </li>
        <li>
          <p class="dataCardUser">Nombre:</p>
          <p style="display: inline">{{ inscription.course?.name }}</p>
        </li>
        <li>
          <p class="dataCardUser">Fecha de inicio:</p>
          <p style="display: inline">
            {{ inscription.course?.startDate | date : "EEEE dd/MM/yyyy" }}
          </p>
        </li>
        <li>
          <p class="dataCardUser">Fecha de fin:</p>
          <p style="display: inline">
            {{ inscription.course?.finishDate | date : "EEEE dd/MM/yyyy" }}
          </p>
        </li>
        <li>
          <p class="dataCardUser">Precio:</p>
          <p style="display: inline">
            {{ inscription.course?.price | currency : "ARS" }}
          </p>
        </li>
      </ul>
    </div>
    <div>
      <button
        type="reset"
        mat-flat-button
        color="accent"
        class="m-2"
        mat-dialog-close
      >
        Cerrar
      </button>
      <button
        type="submit"
        mat-flat-button
        color="accent"
        class="m-2"
        (click)="onDelete(inscription.id)"
      >
        Eliminar
      </button>
      <button
        type="submit"
        mat-flat-button
        color="primary"
        class="m-2"
        (click)="onUpdate(inscription)"
      >
        Modificar
      </button>
    </div>
  </mat-card-content>
</mat-card>
