<button
  class="m-2"
  mat-flat-button
  color="primary"
  type="button"
  (click)="onCreate()"
>
  Crear usuario
</button>

<div class="m-4">
  <table mat-table [dataSource]="users" class="mat-elevation-z8">
    <!-- dni Column -->
    <ng-container matColumnDef="dni">
      <th mat-header-cell *matHeaderCellDef class="text-center">DNI</th>
      <td mat-cell *matCellDef="let user" class="text-center">
        {{ user.dni | number : "8.0-0" }}
      </td>
    </ng-container>
    <!-- fullName Column -->
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef class="text-center">Nombre</th>
      <td mat-cell *matCellDef="let user" class="text-center">
        {{ user | fullName }}
      </td>
    </ng-container>
    <!-- email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef class="text-center">email</th>
      <td mat-cell *matCellDef="let user" class="text-center">
        {{ user.email }}
      </td>
    </ng-container>
    <!-- password Column -->
    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef class="text-center">Contraseña</th>
      <td mat-cell *matCellDef="let user" class="text-center">
        {{ user.password }}
      </td>
    </ng-container>
    <!-- role Column -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef class="text-center">Rol</th>
      <td mat-cell *matCellDef="let user" class="text-center">
        {{ user.role }}
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="text-center">Accion</th>
      <td mat-cell *matCellDef="let user" class="text-center">
        <button
          matSuffix
          mat-icon-button
          color="primary"
          focusable="false"
          (click)="onEdit(user)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          matSuffix
          mat-icon-button
          color="warn"
          focusable="false"
          (click)="onDelete(user.dni)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
