<div class="m-3">
  <h1>Sistema de Usuarios, cursos e inscripciones!</h1>
  <mat-card class="example-card">
    <mat-card-content>
      <mat-card-title
        class="text-center"
        style="font-weight: bold; text-decoration: underline"
        >Datos de usuario logueado
      </mat-card-title>
      <hr />
      <ul *ngIf="loginUser$ | async; let user" style="list-style: none">
        <li>
          DNI:
          <p class="dataCardUser">{{ user.dni }}</p>
        </li>
        <li>
          Nombre:
          <p class="dataCardUser">{{ user.firstName }}</p>
        </li>
        <li>
          Apellido:
          <p class="dataCardUser">{{ user.lastName }}</p>
        </li>
        <li>
          Email:
          <p class="dataCardUser">{{ user.email }}</p>
        </li>
        <li>
          Perfil:
          <p class="dataCardUser">{{ user.profile }}</p>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
