<mat-drawer-container
  class="dashboard-container"
  style="height: 100vh"
  autosize
>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p class="text-center m-1">Secciones</p>
    <div class="row m-2">
      <a
        #usersLink="routerLinkActive"
        routerLinkActive
        [activated]="usersLink.isActive"
        routerLink="users"
        mat-list-item
        class="btn btn-secondary"
        >Usuarios</a
      >
    </div>
    <div class="row m-2">
      <a
        #coursesLink="routerLinkActive"
        routerLinkActive
        [activated]="coursesLink.isActive"
        routerLink="courses"
        mat-list-item
        class="btn btn-secondary"
        >Cursos</a
      >
    </div>
    <div class="row m-2">
      <a class="btn btn-secondary">Cerrar sesion</a>
    </div>
  </mat-drawer>

  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="drawer.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span
      class="w-100"
      style="text-align: center; font-weight: bold"
      appFontSize
      size="24px"
      >DASHBOARD</span
    >
    <div></div>
    <div>
      <span>{{ fecha | date : "EEEE dd/MM/yyyy HH:mm" }}</span>
    </div>
  </mat-toolbar>

  <router-outlet></router-outlet>
</mat-drawer-container>
