<div class="container m-2 w-100">
  <form [formGroup]="userForm" (ngSubmit)="addUser()" class="row">
    <!-- DNI -->
    <div class="col-4">
      <mat-form-field class="w-100">
        <mat-label>DNI</mat-label>
        <input formControlName="dni" matInput type="text" />
      </mat-form-field>
    </div>

    <!-- Nombre -->
    <div class="col-4">
      <mat-form-field class="w-100">
        <mat-label>Nombre</mat-label>
        <input formControlName="firstName" matInput type="text" />
      </mat-form-field>
    </div>

    <!-- Apellido -->
    <div class="col-4">
      <mat-form-field class="w-100">
        <mat-label>Apellido</mat-label>
        <input formControlName="lastName" matInput type="text" />
      </mat-form-field>
    </div>

    <!-- Email -->
    <div class="col-4">
      <mat-form-field class="w-100">
        <mat-label>Email</mat-label>
        <input
          formControlName="email"
          matInput
          type="email"
          placeholder="pat@example.com"
        />
        <!-- @if (this.userForm.value.email.invalid) {
        <mat-error>{{ getErrorMessage() }}</mat-error>
        } -->
      </mat-form-field>
    </div>

    <!-- Contraseña -->
    <div class="col-4">
      <mat-form-field class="w-100">
        <mat-label>Contraseña</mat-label>
        <input
          formControlName="password"
          matInput
          [type]="hide ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <!-- Rol -->
    <div class="col-4">
      <mat-form-field class="w-100">
        <mat-label>Rol</mat-label>
        <mat-select formControlName="role">
          <mat-option value="Admin">Admin</mat-option>
          <mat-option value="Alumno">Alumno</mat-option>
          <mat-option value="Profesor">Profesor</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <button mat-flat-button color="primary">Guardar</button>
    </div>
  </form>

  <pre class="m-2">{{ userForm.value | json }}</pre>
</div>
